* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    margin: 0;
    background-color: #3f3f3f;
}

.welcome {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome img {
    margin: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.navigation {
    display: flex;
    align-items: flex-start;
}

.navigation a {
    color: white;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-decoration: none;
    padding: 30px;
}

.navigation button {
    color: white;
    font-weight: 100;
    font-size: 80px;
    /* padding: 30px; */
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: inherit;
    position: relative;
    bottom: 7px;
    margin-right: 10px;
}
.registration {
    margin-top: 30px;
}

.registration input, .login input {
    -webkit-appearance: none;
    border: none;
    background-color: inherit;
    outline: none;
    outline-width: 0;
    height: 40px;
    width: 300px;
    font-weight: 200;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    display: block;
    padding: 0;
}
.registration button, .login button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: white;
    background-color: inherit;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.2em;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
    display: block;
}

::placeholder {
  color: white;
  letter-spacing: 0.1em;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.registration select {
    outline: none;
    appearance: none;
    border: none;
    background-color: #3f3f3f;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-left: 50px;
    margin-top: 20px;
}

.registration p {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
    margin-top: 5px;

}

.login h1 {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    font-weight: 200;
    color: white;
}

.profileImage {
    object-fit: cover;
    width: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 10px;
}
#profilepic-sidebar img {
    width: 150px;
}
#profile {
    padding: 20px;
    display: flex;
}

#profile p {
    margin: 20px;
    width: 500px;
    color: white;
}

#profile button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    color: white;
    background-color: inherit;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.2em;
    /* margin-top: 20px; */
    margin-left: 20px;
    padding: 0;
}

.profile-name {
    margin: 20px;
    font-size: 50px;
    font-weight: 200;
    color: white;
}

.profile-info-sidebar {
    width: 325px;
    margin: 0 0 30px 15px;
}
/* .grid-container {
    display: flex;
    justify-content: center;
} */
.posts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    align-items: center;
    width: 70vh;
    height: 1000px;
    margin-top: 50px; */
}

#image-in-posts{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 10px;
    /* border: 5px solid white; */
}

.uploader, .postUploader {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.uploader h1 {
    font-weight: 400;
    margin-top: 120px;
    margin-left: 100px;
    letter-spacing: 0.1em;
    color: white;

}

.uploader button {
    position: relative;
    float: right;
    font-size: 60px;
    font-weight: 100;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 20px;
    color: white;
}

.inputfile {
    width: 200px;
    height: 45px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: crosshair;
    margin-left: 100px;
}

.inputfile + label {
    font-size: 15px;
    font-weight: 200;
    color: white;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.2em;
    cursor: crosshair;
    color: white;
}

.tileUploader {
    margin-left: 150px;
    width: 350px;
}

.tile-uploader-btn {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.2em;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-left: 50px;
    color: white;
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    /* position: relative; */
    float: right;
}

.tileUploader input {
    -webkit-appearance: none;
    border: none;
    background-color: inherit;
    outline: none;
    outline-width: 0;
    height: 40px;
    width: 300px;
    font-weight: 200;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    display: block;
    padding: 0;
}

.tileUploader textarea {
    -webkit-appearance: none;
    background-color: inherit;
    outline: none;
    outline-width: 0;
    height: 100px;
    width: 300px;
    font-weight: 200;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    display: block;
    padding: 0;
    border-radius: 15px;
}

.create-ad h3 {
    margin-left: 210px;
    color: white;
    letter-spacing: 0.1em;
}
.ads-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex-flow: column wrap; */
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1000px;
    margin-top: 50px;
    padding-top: 50px;
}

.ads {
    width: 200px;
    justify-content: space-around;
    background-color: orange;
    margin: 10px;
    align-self: flex-start;
}

.ads p {
    background-color: orange;
}
